.category {
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    font-size: small;
    white-space: nowrap; 
}

.men {
    background-color: orange;
}

.jewelery {
    background-color: green;
}